div{
    
    padding-top: 20px;
    margin:0.1px ;
    padding:10px ;
    width: 200px;
    height:100%;
    border: 1px solid orange;  
}

.caja2{
    margin:0.1px ;
    padding:10px;
    width: 200px;
    height:100%;
    border: 1px solid orange;   
}

.caja3{
    margin:0.1px;
    padding:10px;
    width: 200px;
    height:100%;
    border: 1px solid orange;   
    
}